node_modules
packages/docs
dist
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.dumi
.DS_Store
.rollup.cache
temp/
docs/
.dumi/tmp
.dumi/tmp-production
rollup.config-*.cjs
*.js.map
*.mjs.map
*.css.map

build/
coverage/
*.svg
*.png
*.jpeg


