@use './_style.scss' as common;

.#{common.$picker-prefix}-body-noscroll {
  touch-action: none;
  overflow: hidden;
}

.#{common.$picker-prefix} {
  box-sizing: border-box;
  vertical-align: top;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
  flex-direction: column;
  position: absolute;
  display: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;

  &-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &.#{common.$picker-prefix}-mobile {
    .#{common.$picker-prefix}-mask {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // 不要使用 background-color
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      z-index: 9998;
      box-sizing: border-box;
    }

    .#{common.$picker-prefix}-body {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      align-items: center;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
    }
  }
}
